@import url(https://sleekz.github.io/customthemesleekz/ytthemecss/Youtubeimportcss.css);
:root {
    --main-color: #999;
    --transparency-val: 0.35;
    --background-image: url(https://example.com/example.png);
}
/* Use youtube on dark mode */