@import url(https://fonts.googleapis.com/css?family=Chivo);
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css);

/* mount */
html, body {
	position: absolute;
	margin: unset;
	height: 100%;
	width: 100%;
	background: #ddd;
	color: #333;
	font-family: 'chivo', Helvetica, sans-serif;
	overflow: hidden;
}

/* header */
#Title {
	width: auto;
	height: 60px;
	background: #333;
	font-weight: 900;
}

#Title .text {
	position: absolute;
	left: 10px;
	color: #999;
	font-size: 40px;
	letter-spacing: 0px;
	margin-top: 5px;
}

#Nav {
	position: absolute;
    right: 15px;
    height: 60px;
}

#Nav a {
	display: inline-block;
	position: relative;
	top: 15px;
	width: 45px;
	height: 25px;
	padding: 2.5px;
	margin-left: 5px;
	background: #444;
	color: #999;
	font-size: 20px;
	text-align: center;
	border-radius: 5px;
}

#Nav .sel {
	background: #999;
	color: #333;
}

/* content */
#active-page {
	position: absolute;
	height: 100%;
	width: 100%;
}

#active-modal {
	display: block;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgb(0,0,0);
	background-color: rgba(0,0,0,0.4);
}

#active-modal h1 {
	display: inline-block;
}

.modal-content {
	background: #333;
	color: #999;
	margin: 15% auto;
	padding: 20px;
	border-radius: 7.5px;
	width: 80%;
}

#active-page button {
	display: block;
	background: #999;
	color: #333;
	border: solid 2px #333;
	border-radius: 7.5px;
	margin: auto;
}

#active-modal button::not(.closebutton) {
	background: #333;
	color: #999;
	border-radius: 7.5px;
	margin: auto;
}

.closebutton {
	position: relative;
	color: #999;
	border-radius: 7.5px;
	float: right;
	cursor: pointer;
}

/* footer */
#Footer {
	position: absolute;
	bottom: 0px;
	background: #333;
	color: #999;
	height: 30px;
	width: 100%;
}

#Footer span {
	font-size: 25px;
}

.links {
	position: relative;
	width: 120px;
	float: right;
}

section .links a {
	margin: unset;
}

.links img {
	margin-top: 2.5px;
	width: 25px;
}

/* text */
h1 {
	font-size: 30px;
	font-weight: 800;
	max-width: calc(100% - 10px);
	white-space: normal;
	margin: 0 5px;
}

h2 {
	font-size: 25px;
	font-weight: 700;
	max-width: calc(100% - 20px);
	white-space: normal;
	margin: 0 10px;	
}

h3, p {
	font-size: 20px;
	font-weight: 700;
	max-width: calc(100% - 40px);
	white-space: normal;
	margin: 0 20px;
}

/* divider */
hr {
	border-color: #aaa;
	margin: 0 20px;
}

/* links */
a {
	text-decoration: none;
}

section a {
	max-width: calc(100% - 40px);
	margin: 0 0 0 20px;
}

a:visited {
	color: #0000EE;
}
