/* mount */
body {
	position: absolute;
	margin: unset;
	height: 100vh;
	width: 100vw;
	color: #333;
	font-family: Helvetica, sans-serif;
	overflow: hidden;
}

/* header */
#Title {
	width: auto;
	height: 60px;
	background: #333;
	font-weight: 900;
}

#Title .text {
	position: relative;
	left: 15px;
	color: #999;
	font-size: 40px;
	letter-spacing: -2px;
}

#Nav {
	position: absolute;
    right: 15px;
    height: 60px;
}

#Nav a {
	display: inline-block;
	position: relative;
	top: 15px;
	width: 50px;
	height: 30px;
	margin-left: 5px;
	background: #444;
	color: #999;
	font-size: 20px;
	text-align: center;
	border-radius: 5px;
}

#Nav .sel {
	background: #999;
	color: #333;
}

/* content */
section, main {
	position: absolute;
	height: 100%;
	width: 100%;
	background: #999;
}

/* footer */
#Footer {
	position: absolute;
	bottom: 0px;
	background: #333;
	color: #999;
	height: 30px;
	width: 100%;
}

#Footer span {
	font-size: 25px;
}

.links {
	position: relative;
	width: 120px;
	float: right;
}

section .links a {
	margin: unset;
}

.links img {
	margin-top: 2.5px;
	width: 25px;
}

/* text */
h1 {
	font-size: 30px;
	font-weight: 800;
	max-width: calc(100% - 10px);
	white-space: normal;
	margin: 0 5px;
}

h2 {
	font-size: 25px;
	font-weight: 700;
	max-width: calc(100% - 20px);
	white-space: normal;
	margin: 0 10px;	
}

h3, p {
	font-size: 17.5px;
	font-weight: 700;
	max-width: calc(100% - 40px);
	white-space: normal;
	margin: 0 20px;
}

/* divider */
hr {
	border-color: #aaa;
	margin: 0 20px;
}

/* links */
a {
	text-decoration: none;
}

section a {
	max-width: calc(100% - 40px);
	margin: 0 0 0 20px;
}

a:visited {
	color: #0000EE;
}