/* Mount */
body {
	display: inline-block;
	height: 100%;
    font-family: 'Helvetica Neue', Helvetica, Arial, serif;
    font-size: 1em;
    line-height: 2;
    color: #777;
    background: #333;
	overflow: hidden;
	margin: 0;
}

/* Header */
.header-mount {
	width: 100%;
}

.title-mount {
	width: 100%;
	background: linear-gradient(#00268f, 75%, #333);
	top: 0;
	position: absolute;
}

.title {
    font-family: 'Chivo', 'Helvetica Neue', Helvetica, Arial, serif;
    font-size: 38px;
    line-height: 1.2;
	letter-spacing: -1px;
	width: auto;
	overflow: hidden;
}

@media screen and (max-width: 700px) {
	.title {margin-left: 200px;}
}

.navigation-mount {
	position: absolute;
	margin-top: 5px;
}

.nav {
	margin-left: 35px;
}

.nav a, .sel {
	margin-right: 10px;
	cursor: pointer;
    font-size: 24px;
}

.sel {
	border-radius: 5px!important;
	border: #777 solid 2px!important;
}

/* Footer */
.right {
	position: absolute;
	margin-top: 3px;
	right: 15px;
	margin-left: 275px;
	display: flex;
}

.footer-mount img {
	margin-top: 12.5px;
	width: 20px;
	bottom: 10px;
	position: relative;
}

.footer-mount a {
	margin-right: 5px;
}

.foot {
	height: inherit;
	width: 100%;
	position: absolute;

}

@media screen and (max-width: 700px) {
	.foot {
		text-align: left;
		margin-left: 22.5px;
	}
}

.footer-mount {
	bottom: 0;
	height: 30px;
	width: 100%;
	position: absolute;
	background: linear-gradient(#555, #000);
}



/* link modifications */
#page a {
	color: #5398d8;
	text-decoration: none;
	cursor: pointer;
}

/* sizing */
.container, body {
	position: absolute;
	height: 100%;
    width: 100%;
}

#page {
	margin-top: 45px;
	margin-bottom: 30px;
	position: absolute;
	height: calc(100% - 75px);
	width: 100%;
	border: none;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

.hidden {
	display: none;
	height: 0;
}

.page-item {
	position: absolute;
	width: 100%;
}

/* Text */
.bold {
	font-weight: bold;
}

.center-text {
	text-align: center;
}

h1 {
	font-family: 'Chivo', 'Helvetica Neue', Helvetica, Arial, serif;
    font-size: 38px;
    line-height: 1.2;
    letter-spacing: -1px;
}

h2 {
    margin-bottom: 4px;
    font-size: 24px;
}

h3 {
    font-size: 18px;
}

h4 {
	font-size: 16px;
}

p {
	height: auto;
	font-size: 16px;
}

/* scrollers */
.scroll {
	overflow-y: auto;
}

.scroll::-webkit-scrollbar {
	width: 0;
	background: #333;
}

.scroll::hover::-webkit-scrollbar {
	width: 10px;
}

.scroll::-webkit-scrollbar-thumb {
	width: 10px;
	background: #777;
}